.orangeText{
    color: #EA6237;
}
img{
    max-width: 100%;
    height: auto;
}

.mainImg{
    width: 43.03vw;
}
.desktopWrapper{
 height:100vh;
 width: 100%;
overflow:hidden;
    .desktopContainer{

        h1{
            font-size: 28px;
            font-weight:500;
        }

        p{
            font-size: 18px;
            font-weight:500
        }
        position: relative;
        font-family:"SF Pro Display"!important ;
        .desktopHeroWrapper{
              margin: 3rem 3rem 0 3rem;

            display: flex;
            justify-content: center;
            align-items: center;
        }
   
        .text{
            display: flex;
            flex-direction: column;
           justify-content: space-between;
        }

        .image{
            position: relative;
            padding-right: 3px;

            .sideImg{
                width: 18.989vw;
                // display:none;
                // position: absolute;
                // top: 90%;
                // left: 80%;
                margin-right: 4rem;
                margin-top: 45px;
                float: right;
                object-fit: contain;
                max-width: 100%;
                height: auto;
            }
        }
        
    }
}